#customize-controls .control-section-educenter .accordion-section-title:hover,
#customize-controls .control-section-educenter .accordion-section-title:focus {
	background-color: #fff;
}

.rtl .control-section-educenter .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

#accordion-section-educenter .accordion-section-title .button {
    height: 40px;
    line-height: 38px;
    text-transform: uppercase;
    padding: 0 25px 0;
}

#accordion-section-educenter .accordion-section-title:before{
    content: '';
}

#accordion-section-educenterdoc .accordion-section-title .button {
    float: right;
}